#parent{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(100px,1fr));
    grid-template-columns:repeat(3,1fr);
    background-color:white;
    gap: 30px 20px;
   
}
.child{
    background-color:blueviolet;
}
.child1{
   grid-row-start: 1;
   grid-row-end: 3;
}
.child4{
    grid-column-start: 2;
    grid-column-end: 4;
}
.child5{
    grid-column-start: 1;
    grid-column-end: 4;
}